# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
/.idea/

# production
/build

# misc
.DS_Store
*.pem
usefull_links.txt
concept_map_template.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.turbo/
Template_samples/
/packages/lib/supabaseEnvTest.ts


# tests
/packages/lib/src/tests
/packages/lib/node_modules/
/packages/supabase/node_modules/
